# Python for Data Science Project Exercise

![Namespace Labs](../../labs.png)

# Arithmetic Operations

In [2]:
# Perform Integer division between 9 and 4

In [3]:
9 // 4

2

# Data Types

## Lists

In [4]:
movies = ['One','Two','Three','Four','Five','Six']

In [5]:
#Print Three only

In [6]:
movies[2]

'Three'

In [7]:
# Print all the movies from Two to Four

In [8]:
movies[1:4]

['Two', 'Three', 'Four']

In [9]:
# Print all the movies from Three to the end

In [10]:
movies[2:]

['Three', 'Four', 'Five', 'Six']

In [11]:
# Display all the movies

In [12]:
movies

['One', 'Two', 'Three', 'Four', 'Five', 'Six']

In [13]:
# Display Three and Four only

In [14]:
movies[2:4]

['Three', 'Four']

In [26]:
# Replace Three and Four with Nine and Ten
movies[2:4] = ['Nine', 'Ten']
movies

['One', 'Two', 'Nine', 'Ten', 'Five', 'Six']

In [16]:
# Display all the movies

In [27]:
# Print all the movies in the movie list
for i in movies:
    print(i)

One
Two
Nine
Ten
Five
Six

In [28]:
# Add movie Eleven at the end of the list
movies.append('Eleven')
movies

['One', 'Two', 'Nine', 'Ten', 'Five', 'Six', 'Eleven']

In [29]:
# Remove Movie Two
movies.remove('Two')
movies

['One', 'Nine', 'Ten', 'Five', 'Six', 'Eleven']

In [30]:
#Print the last movie in the list without using indexing
movies.pop()

'Eleven'

In [31]:
# Print the length of the movies list
len(movies)

5

In [22]:
movies

['One', 'Two', 'Three', 'Four', 'Five', 'Six']

In [23]:
# check if "Nine" is in the movies list and print the movie
#if it's in the list otherwise
# Print movie not found. Do this in a function

In [32]:
def check_movie(x):
    if "Nine" in x:
        print('Nine')
    else:
        print('Print movie not found.')

check_movie('Nine')

Nine

In [ ]:
check_movie('Some Movie')

In [33]:
# Display the movies
movies

['One', 'Nine', 'Ten', 'Five', 'Six']

In [34]:
#compare the name of Nine with nine
'nine' == 'Nine'

False

In [35]:
# Delete the second movie completely
del movies[1]

In [36]:
movies

['One', 'Ten', 'Five', 'Six']

In [37]:
# Delete the movies list
del movies

In [38]:
# Display the movies
movies

NameError: name 'movies' is not defined

In [ ]:
# Use a dictionary to add two or more actors to every movie

In [40]:
d = {}
d['one'] = 'Actor 1'
d['two'] =  'Actor 2'
d

{'one': 'Actor 1', 'two': 'Actor 2'}

In [42]:
# Replace Actor 1 with Actor 11
d['one'] = 'Actor 11'
d

{'one': 'Actor 11', 'two': 'Actor 2'}

In [43]:
#print the actors for movie One
d['one']

'Actor 11'

In [44]:
# Print all the actors
for i in d.values():
    print(i)

Actor 11
Actor 2

In [45]:
# Print all the movies
for i in d.keys():
    print(i)

one
two

In [47]:
# Clear the entire movie with actors dictionary
d.clear()
d

{}

In [48]:
# Create a tuple of the movies
movies = ('one', 'two')

In [50]:
# Print the second movie in the tuple
movies[1]

'two'

In [51]:
# Replace the second movie with 'Nine'
movies[1] = 'Nine'

TypeError: 'tuple' object does not support item assignment

In [53]:
# Create a set with the movies
movies = {'one', 'two'}
type(movies)

set

In [54]:
# Display the second movie in the set
movies[1]

TypeError: 'set' object is not subscriptable

In [56]:
# Add Ten to the set
movies.add('ten')
movies

{'one', 'ten', 'two'}

Happy Coding!