# Python for Data Science Project Solutions

![Namespace Labs](../../labs.png)

# Arithmetic Operations

In [1]:
# Perform Integer division between 9 and 4
9 // 4

2

In [2]:
9 / 4

2.25

# Data Types

## Lists

In [3]:
movies = ['One','Two','Three','Four','Five','Six']

In [4]:
#Print Three only
movies[2]

'Three'

In [5]:
# Print all the movies from Two to Four
movies[1:4]

['Two', 'Three', 'Four']

In [6]:
# Print all the movies from Three to the end
movies[2:]

['Three', 'Four', 'Five', 'Six']

In [7]:
# Display all the movies
movies

['One', 'Two', 'Three', 'Four', 'Five', 'Six']

In [8]:
# Display Three and Four only
movies[2:4]

['Three', 'Four']

In [9]:
# Replace Three and Four with Nine and Ten
movies[2:4] = ['Nine','Ten']

In [10]:
# Display all the movies
movies

['One', 'Two', 'Nine', 'Ten', 'Five', 'Six']

In [11]:
# Print all the movies in the movie list
for movie in movies:
    print(movie)

One
Two
Nine
Ten
Five
Six

In [12]:
# Add movie Eleven at the end of the list
movies.append('Eleven')
movies

['One', 'Two', 'Nine', 'Ten', 'Five', 'Six', 'Eleven']

In [13]:
# Remove Movie Two
movies.remove('Two')
movies

['One', 'Nine', 'Ten', 'Five', 'Six', 'Eleven']

In [14]:
#Print the last movie in the list without using indexing
movies.pop() #Remove and return item at index (default last).

'Eleven'

In [15]:
# Print the length of the movies list
len(movies)

5

In [16]:
movies

['One', 'Nine', 'Ten', 'Five', 'Six']

In [17]:
# check if "Nine" is in the movies list and print the movie
#if it's in the list otherwise
# Print movie not found. Do this in a function
def check_movie(movie):
    if movie in movies:
        print('{} found'.format(movie))
    else:
        print('{} not found'.format(movie))

In [18]:
check_movie('Nine')

Nine found

In [19]:
check_movie('Some Movie')

Some Movie not found

In [20]:
# Display the movies
movies

['One', 'Nine', 'Ten', 'Five', 'Six']

In [21]:
#compare the name of Nine with nine
movies[1] == 'nine' # Python is case sensitive

False

In [22]:
movies[1] == 'Nine'

True

In [23]:
movies

['One', 'Nine', 'Ten', 'Five', 'Six']

In [24]:
# Delete the second movie completely
del movies[1]

In [25]:
movies

['One', 'Ten', 'Five', 'Six']

In [26]:
# Delete the movies list
del movies

In [27]:
# Display the movies
movies

NameError: name 'movies' is not defined

In [45]:
# Use a dictionary to add two or more actors to every movie
movies_and_actors = {
    'One': ['Actor 1','Actor 2'],
    'Two': ['Actor 3', 'Actor 4'],
    'Nine':['Actor 5','Actor 6'],
    'Ten':['Actor 7', 'Actor 8'],
    'Five':['Actor 9', 'Actor 10']
    
}
movies_and_actors

{'One': ['Actor 1', 'Actor 2'],
 'Two': ['Actor 3', 'Actor 4'],
 'Nine': ['Actor 5', 'Actor 6'],
 'Ten': ['Actor 7', 'Actor 8'],
 'Five': ['Actor 9', 'Actor 10']}

In [49]:
# Replace Actor 1 with Actor 11
movies_and_actors['One'][0] = 'Actor 11'

In [50]:
movies_and_actors['One']

['Actor 11', 'Actor 2']

In [31]:
movies_and_actors['One'][0]

'Actor 11'

In [51]:
movies_and_actors

{'One': ['Actor 11', 'Actor 2'],
 'Two': ['Actor 3', 'Actor 4'],
 'Nine': ['Actor 5', 'Actor 6'],
 'Ten': ['Actor 7', 'Actor 8'],
 'Five': ['Actor 9', 'Actor 10']}

In [52]:
movies_and_actors['One']

['Actor 11', 'Actor 2']

In [33]:
#print the actors for movie One
for actor in movies_and_actors['One']:
    print(actor)

Actor 11
Actor 2

In [34]:
# Print all the actors
for key,value in movies_and_actors.items():
    for actor in movies_and_actors[key]:
        print(actor)

Actor 11
Actor 2
Actor 3
Actor 4
Actor 5
Actor 6
Actor 7
Actor 8
Actor 9
Actor 10

In [35]:
# Print all the movies
for key,value in movies_and_actors.items():
    print(key)

One
Two
Nine
Ten
Five

In [36]:
# Clear the entire movie with actors dictionary
movies_and_actors.clear()
movies_and_actors

{}

In [37]:
# Create a tuple of the movies
movies_tuple = ('One','Two','Three','Four','Five')
movies_tuple

('One', 'Two', 'Three', 'Four', 'Five')

In [38]:
# Print the second movie in the tuple
movies_tuple[1]

'Two'

In [39]:
# Replace the second movie with 'Nine'
movies_tuple[1] = 'Nine' # Tuples can't be changed

TypeError: 'tuple' object does not support item assignment

In [40]:
# Create a set with the movies
movies_set = {'One','Two','Three','Four','Five'}
movies_set

{'Five', 'Four', 'One', 'Three', 'Two'}

In [41]:
# Display the second movie in the set
movies_set[1] # Sets are unordered

TypeError: 'set' object is not subscriptable

In [43]:
# Add Ten to the set
movies_set.add('Ten')
movies_set

{'Five', 'Four', 'One', 'Ten', 'Three', 'Two'}

Happy Coding!