# Python

![Namespace Labs](../../labs.png)

Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant whitespace. [Wikipedia](https://en.wikipedia.org/wiki/Python_(programming_language))

# Baby Steps

### Printing a Sentence

In [1]:
print('Hello World')

Hello World

### Arithmetic Operations

You do not need to use print when in Jupyter Lab / Notebooks in order to display the output of any operation

In [2]:
3 * 3

9

In [3]:
4 - 5

-1

In [5]:
9 % 2

1

In [6]:
8 / 5

1.6

# Python Variables

A variable is a section in memory that holds some content

In [13]:
# notice the sacing around the words
name = "Derrick"

In [9]:
score = 20

In [150]:
Score # Python is case sensitive

NameError: name 'Score' is not defined

In [10]:
name

'Derrick'

In [11]:
score

20

# Commenting your Code

In [12]:
# This code will not be executed, comment your code in order
# so that anyone who reads your code, understands what you
# are doing
print('The above will not be executed')

The above will not be executed

# Data Types

In [14]:
score

20

In [15]:
name

'Derrick'

In [16]:
type(score)

int

In [17]:
type(name)

str

In [18]:
decimal = 0.25

In [20]:
decimal

0.25

In [19]:
type(decimal)

float

### Lists

Assume now that you needed to store more than one name, how would you do it? Enter lists. A list is crrated using squared brackets []

In [21]:
names = ['Derrick', 'David','John','Mike']

In [22]:
names

['Derrick', 'David', 'John', 'Mike']

In [23]:
type(names)

list

### Printing Items in a list - Indexing

In [25]:
names[0] # we start couting from zero

'Derrick'

In [26]:
names[2]

'John'

In [28]:
names[1:3]

['David', 'John']

In [29]:
names[1:]

['David', 'John', 'Mike']

In [39]:
names

['Derrick', 'David', 'John', 'Mike']

#### Indexing from Behind

In [30]:
names[-1]

'Mike'

In [43]:
names[-1]

'Mike'

In [42]:
names[-2:]

['John', 'Mike']

In [51]:
names

['Derrick', 'David', 'John', 'Mike']

In [54]:
names[-3:3]

['David', 'John']

In [49]:
names[-3]

'David'

In [36]:
names[-4:]

['Derrick', 'David', 'John', 'Mike']

In [38]:
names[-4:2]

['Derrick', 'David']

In [56]:
names

['Derrick', 'David', 'John', 'Mike']

In [66]:
names[1] = 'Andrew' # lists are mutable, they can be changed

In [65]:
names

['Derrick', 'Andrew', 'John', 'Mike']

## Dictionaries

Assume now that we also need to save the university everyone went to, a list becomes insufficient. Enter Python Dictionaries

In [178]:
names_with_universities = {
    'Derrick':'Uni One', # 'Key': 'value'
    'David':'Uni Two',   # 'Key': 'value'
    'John':'Uni Three',   # 'Key': 'value'
    'Mike':'Uni Four'     # 'Key': 'value'
}

In [179]:
names_with_universities

{'Derrick': 'Uni One',
 'David': 'Uni Two',
 'John': 'Uni Three',
 'Mike': 'Uni Four'}

In [59]:
type(names_with_universities)

dict

In [62]:
names_with_universities['John']

'Yale'

In [63]:
names_with_universities['Mike']

'NYU'

In [69]:
names_with_universities['Mike'] = 'Stanford' # Dicts are mutable, they can be changed

In [68]:
names_with_universities

{'Derrick': 'MMU', 'David': 'MIT', 'John': 'Yale', 'Mike': 'Stanford'}

## Python Tuples

In [70]:
my_tuple = ('Derrick', 'Andrew', 'John', 'Mike')

In [79]:
my_tuple

('Derrick', 'Andrew', 'John', 'Mike')

In [80]:
type(my_tuple)

tuple

In [71]:
my_tuple[2]

'John'

In [83]:
my_tuple[1:3]

('Andrew', 'John')

In [82]:
my_tuple[2:]

('John', 'Mike')

In [77]:
my_tuple[2] = 'David' # Tuples are immutable, their contents can't be changed

TypeError: 'tuple' object does not support item assignment

## Python Sets

In [88]:
my_set = {'Derrick', 'Andrew', 'John', 'Mike'}

In [78]:
my_set

{'Andrew', 'Derrick', 'John', 'Mike'}

In [81]:
type(my_set)

set

In [97]:
my_set[1] # sets are unordered, therefore can not be indexed

TypeError: 'set' object is not subscriptable

In [93]:
my_set.add('David')

In [94]:
my_set

{'Andrew', 'David', 'Derrick', 'John', 'Mike'}

In [95]:
set_copy = my_set.copy()

In [96]:
set_copy

{'Andrew', 'David', 'Derrick', 'John', 'Mike'}

In [84]:
my_set.remove('Derrick')

In [85]:
my_set

{'Andrew', 'John', 'Mike'}

In [86]:
my_set.clear()

In [87]:
my_set

set()

## Comparison - Truth & False (Boolean Type)

In [98]:
is_true = True

In [99]:
type(is_true)

bool

In [100]:
is_false = False

In [102]:
type(is_false)

bool

In [103]:
1 == 1

True

In [104]:
1 == 4

False

In [107]:
1 > 2

False

In [108]:
1 < 2

True

In [105]:
1 >= 2

False

In [106]:
1 <= 2

True

# Python If & Else - Conditional statements

In [1]:
if 1 > 2:
    print('1 is greater than 2') #notice the indented block

In [2]:
if 1 < 2:

    print('1 is less than 2') #notice the indented block

1 is less than 2

In [3]:
if 1 < 2:
print('1 is less than 2') #notice the lack of an indented block

IndentationError: expected an indented block (<ipython-input-3-f5869c3fe5de>, line 2)

In [117]:
if 1 > 2:
    print('1 is greater than 2')
elif 1 < 2:
    print('1 is less than two')

1 is less than two

In [7]:
x = 4

In [8]:
if x > 2:
    print('x is greater than 2')
elif x < 2:
    print('x is less than 2')
else:
    print("We can't tell")

x is greater than 2

# Python Functions

A function is a piece of code that we can reuse

In [9]:
def compare_numbers(x):
    if x > 2:
        print('{} is greater than 2'.format(x))
    elif x < 2:
        print('{} is less than 2'.format(x))
    else:
        print("We can't tell")

In [10]:
compare_numbers(1)

1 is less than 2

In [138]:
compare_numbers(3)

3 is greater than 2

In [140]:
compare_numbers('three')

TypeError: '>' not supported between instances of 'str' and 'int'

# Python Loops

A loop is a control flow statement that allows us to execute a piece of code repeatedly

### For Loop

In [11]:
names = ['Derrick', 'Andrew', 'John', 'Mike']

In [12]:
names

['Derrick', 'Andrew', 'John', 'Mike']

In [143]:
for i in names:
    print(i)

Derrick
Andrew
John
Mike

In [180]:
for key, value in names_with_universities.items():
    print('{} went to {} university'.format(key,value))

Derrick went to Uni One university
David went to Uni Two university
John went to Uni Three university
Mike went to Uni Four university

## While Loops in Python

In a while loop the code is executed as long as a certain condition holds. Be careful not to run into an indefinite loop, a loop that never ends, that would crash your browser

In [148]:
j = 1
while j < 6:
    print(j)
    j = j + 1

1
2
3
4
5

In [149]:
j = 6
while j > 1:
    print(j)
    j = j - 1

6
5
4
3
2

# Map

Allows you to perform an active in an iterative fashion. It takes a function and the iterables as an argument

In [152]:
numbers = [1,2,3,4,5]

In [169]:
def add_one(x):
    x = x + 1
    return x # The return statement ends the execution 
            # of a function and returns the results of that execution

In [170]:
added = map(add_one,numbers)

In [171]:
for add in added:
    print(add)

2
3
4
5
6

In [172]:
list(map(add_one,numbers)) # Runs the add_one function on every item on the list

[2, 3, 4, 5, 6]

# Python range()

In [175]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [176]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [177]:
for x in range(0,10,2):
    print(x)

0
2
4
6
8

Happy Coding!