**Association Rule Mining**

Association Rule Mining can be used to discover relationship between various prodcts. This informtion can be used to maximize profit and influence product placement decisions. For example, since milk and bread are usually bought together a retail shop can place them in close proximity. On the hand a retail store can separate them so that the customer walks a little in the store,as a result they might see and buy new products. Finding the relationship between various products is what we are refering to as  **Association Rule Mining**.


**Apriori Concepts**

Let's look at the concepts we need to understand before we start using Apriori. We'll assume we have 500 customer transactions. In this 500, 150 contain bread and 200 contain milk. Out of the 150 transactions with  bread, 100 of them also have milk. 



**Support**
The ratio of transactions of a particular item compared to the total number of transaction. For example the support for bread is 

**Support(Bread) = (Transactions containing Bread)/(Total Transactions)= 150/500 = 30%**



**Support(Milk) = (Transactions containing Milk)/(Total Transactions)**= 
**200/500 = 40%**

**Confidence**
Determines the probability that when item A is bought, item B is also bought. Calculated by finding the number of times A and B are bought together and dividing that by total number of transactions where A is bought.


**Confidence(A B) = (Transactions containing both (A and B))/(Transactions containing A)** 

The probability of buying milk when bread is bought is Confidence(Bread Milk) = (Transactions containing both (Bread and Milk))/(Transactions containing Bread) = 100/150 = 67%



**Lift**


Lift(Bread Milk) = (Confidence (Bread Milk))/(Support (Milk)) 
**= (100/150)/(200/500)= 1.67,**
 meaning that the probability of buying Bread and milk together is 1.67 times more than just buying milk. If the lift is 1, then there is no association between these two items. If the lift is greater than one then there is a likelihood of these two items being bought together. If the lift is less than one then the items are not likely to be bought togeter.

In [ ]:
import pandas as pd

In [18]:
df = pd.read_csv('Online Retail.csv')

In [19]:
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [20]:
list(df[df['InvoiceNo'] == '536365']['Description'])

['WHITE HANGING HEART T-LIGHT HOLDER',
 'WHITE METAL LANTERN',
 'CREAM CUPID HEARTS COAT HANGER',
 'KNITTED UNION FLAG HOT WATER BOTTLE',
 'RED WOOLLY HOTTIE WHITE HEART.',
 'SET 7 BABUSHKA NESTING BOXES',
 'GLASS STAR FROSTED T-LIGHT HOLDER']

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [22]:
df.dropna(inplace=True)

In [23]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.6/dist-packages (1.1.2)

In [24]:
from apyori import apriori

In [25]:
invoices = df['InvoiceNo'].unique()

In [26]:
invoices

array(['536365', '536366', '536367', ..., '581585', '581586', '581587'],
      dtype=object)

In [27]:
apriori_list = []
for invoice in invoices:
  apriori_list.append(list(df[df['InvoiceNo'] == invoice]['Description']))

In [29]:
# apriori_list

In [30]:
association_rules = apriori(apriori_list,min_support = 0.009,min_confidence = 0.3,
                            min_lift=3,min_length = 2)

In [31]:
association_rules

In [32]:
association_rules = list(association_rules)

In [33]:
len(association_rules)

260

In [34]:
association_rules[0]

RelationRecord(items=frozenset({'60 TEATIME FAIRY CAKE CASES', '72 SWEETHEART FAIRY CAKE CASES'}), support=0.010049571879224875, ordered_statistics=[OrderedStatistic(items_base=frozenset({'60 TEATIME FAIRY CAKE CASES'}), items_add=frozenset({'72 SWEETHEART FAIRY CAKE CASES'}), confidence=0.33584337349397586, lift=14.757157342240248), OrderedStatistic(items_base=frozenset({'72 SWEETHEART FAIRY CAKE CASES'}), items_add=frozenset({'60 TEATIME FAIRY CAKE CASES'}), confidence=0.4415841584158416, lift=14.757157342240248)])

RelationRecord(items=frozenset({'ALARM CLOCK BAKELIKE GREEN', 'ALARM CLOCK BAKELIKE RED '}), support=0.024155024785939613,

Support of 0.024 is obtained by dividing the transactions containing 'ALARM CLOCK BAKELIKE GREEN', 'ALARM CLOCK BAKELIKE RED ' and the total number of transactions. 

ordered_statistics=[OrderedStatistic(items_base=frozenset({'ALARM CLOCK BAKELIKE GREEN'}), items_add=frozenset({'ALARM CLOCK BAKELIKE RED '}), confidence=0.6625463535228677, lift=16.20937550680533),

The confidence of 0.66 means that of all transactions that contain **ALARM CLOCK BAKELIKE GREEN**, 66% of them contain **ALARM CLOCK BAKELIKE RED** too. 
 

 The lift of 16 means that **ALARM CLOCK BAKELIKE RED ** is 16 times more likely to be bought alongside **ALARM CLOCK BAKELIKE GREEN**

**Exercise**

In [35]:
!pip install efficient-apriori

Collecting efficient-apriori
  Downloading https://files.pythonhosted.org/packages/5a/c6/ecdf3a32d23cada466634c649cf4f50fefe76f56eae53ecceff688b306be/efficient_apriori-1.1.1-py3-none-any.whl
Installing collected packages: efficient-apriori
Successfully installed efficient-apriori-1.1.1

In [36]:
from efficient_apriori import apriori

In [38]:
tuple(df[df['InvoiceNo'] == '536365']['Description'])

('WHITE HANGING HEART T-LIGHT HOLDER',
 'WHITE METAL LANTERN',
 'CREAM CUPID HEARTS COAT HANGER',
 'KNITTED UNION FLAG HOT WATER BOTTLE',
 'RED WOOLLY HOTTIE WHITE HEART.',
 'SET 7 BABUSHKA NESTING BOXES',
 'GLASS STAR FROSTED T-LIGHT HOLDER')

In [39]:
apriori_list_tuple = []
for invoice in invoices:
  apriori_list_tuple.append(tuple(df[df['InvoiceNo'] == invoice ]['Description']))

In [41]:
# apriori_list_tuple

In [42]:
itemsets, rules = apriori(apriori_list_tuple, min_support=0.009, min_confidence=0.3)

In [43]:
effiecient_df = pd.DataFrame(columns=['Rule','Lift'])

In [44]:
effiecient_df

Empty DataFrame
Columns: [Rule, Lift]
Index: []

In [45]:
e_rules = []
lift = []

In [46]:
for rule in rules:
  e_rules.append(rule)
  lift.append(rule.lift)

In [47]:
effiecient_df['Rule'] = e_rules
effiecient_df['Lift'] = lift

In [48]:
effiecient_df.head()

                                                Rule       Lift
0  {LOVE BUILDING BLOCK WORD} -> {HOME BUILDING B...  15.650808
1  {HOME BUILDING BLOCK WORD} -> {LOVE BUILDING B...  15.650808
2  {POPPY'S PLAYHOUSE KITCHEN} -> {POPPY'S PLAYHO...  50.825466
3  {POPPY'S PLAYHOUSE BEDROOM } -> {POPPY'S PLAYH...  50.825466
4  {ALARM CLOCK BAKELIKE PINK} -> {ALARM CLOCK BA...  15.000875

In [49]:
effiecient_df = effiecient_df.sort_values('Lift',ascending=False)

In [50]:
effiecient_df.head()

                                                  Rule       Lift
322  {REGENCY TEA PLATE GREEN } -> {REGENCY TEA PLA...  71.340460
321  {REGENCY TEA PLATE PINK} -> {REGENCY TEA PLATE...  71.340460
320  {REGENCY MILK JUG PINK } -> {REGENCY SUGAR BOW...  57.225466
319  {REGENCY SUGAR BOWL GREEN} -> {REGENCY MILK JU...  57.225466
187  {POPPY'S PLAYHOUSE LIVINGROOM } -> {POPPY'S PL...  56.689581

In [51]:
effiecient_df.to_csv('effiecient_df.csv',index=False)