![Namespace Labs](../../labs.png)

# Python

In [62]:
print('Hello World')

Hello World

In [14]:
print('Hello World')

Hello World

In [15]:
print('Hello World')

Hello World

In [16]:
3 * 3

9

In [17]:
56 - 23

33

In [18]:
672 / 2

336.0

In [19]:
score = 20

In [20]:
score

20

In [21]:
Score

NameError: name 'Score' is not defined

In [22]:
# this is the score of the student 
score = 30

In [23]:
score

30

In [24]:
name = 'Derrick'

In [25]:
type(name)

str

In [26]:
type(score)

int

In [27]:
dec = 12.5

In [28]:
type(dec)

float

# Python Data Structures

## List

In [29]:
name = 'Derrick'

In [30]:
name

'Derrick'

In [31]:
names = ['Derrick', 'David','John','Mike']

In [32]:
names

['Derrick', 'David', 'John', 'Mike']

In [33]:
type(names)

list

In [35]:
names[1]

'David'

In [36]:
names[0]

'Derrick'

In [37]:
names

['Derrick', 'David', 'John', 'Mike']

In [38]:
names[1]

'David'

In [39]:
names[1] = 'Andrew'

In [40]:
names

['Derrick', 'Andrew', 'John', 'Mike']

In [41]:
names[1:2]

['Andrew']

In [42]:
names[1:3]

['Andrew', 'John']

In [43]:
names[1:]

['Andrew', 'John', 'Mike']

In [44]:
names[-1]

'Mike'

In [47]:
names

['Derrick', 'Andrew', 'John', 'Mike']

# Negative Indexing

In [54]:
names

['Derrick', 'Andrew', 'John', 'Mike']

In [55]:
names[-1]

'Mike'

In [56]:
names[-2:]

['John', 'Mike']

In [57]:
names[-3:3]

['Andrew', 'John']

In [58]:
names[-3]

'Andrew'

In [59]:
names

['Derrick', 'Andrew', 'John', 'Mike']

In [60]:
names[-4:]

['Derrick', 'Andrew', 'John', 'Mike']

# Dictionaries

In [63]:
names

['Derrick', 'Andrew', 'John', 'Mike']

In [64]:
names_with_universities = {
    'Derrick':'Uni One', # 'Key': 'value'
    'David':'Uni Two',   # 'Key': 'value'
    'John':'Uni Three',   # 'Key': 'value'
    'Mike':'Uni Four'     # 'Key': 'value'
}

In [65]:
names_with_universities

{'Derrick': 'Uni One',
 'David': 'Uni Two',
 'John': 'Uni Three',
 'Mike': 'Uni Four'}

In [66]:
type(names_with_universities)

dict

In [67]:
names_with_universities['Derrick']

'Uni One'

In [68]:
names_with_universities['David']

'Uni Two'

In [69]:
names_with_universities['Mike'] = 'Stanford'

In [70]:
names_with_universities

{'Derrick': 'Uni One',
 'David': 'Uni Two',
 'John': 'Uni Three',
 'Mike': 'Stanford'}

# Python Tuples

In [71]:
my_tuple = ('Derrick', 'Andrew', 'John', 'Mike')

In [72]:
my_tuple

('Derrick', 'Andrew', 'John', 'Mike')

In [73]:
type(my_tuple)

tuple

In [74]:
my_tuple[2]

'John'

In [75]:
my_tuple[1:3]

('Andrew', 'John')

In [76]:
my_tuple

('Derrick', 'Andrew', 'John', 'Mike')

In [77]:
my_tuple[2:]

('John', 'Mike')

In [79]:
my_tuple[2] = 'David'

TypeError: 'tuple' object does not support item assignment

# Python Sets

In [93]:
my_set = {'Derrick', 'Andrew', 'John', 'Mike'}

In [94]:
my_set

{'Andrew', 'Derrick', 'John', 'Mike'}

In [95]:
my_set[1]

TypeError: 'set' object is not subscriptable

In [96]:
type(my_set)

set

In [97]:
my_set.add('David')

In [98]:
my_set

{'Andrew', 'David', 'Derrick', 'John', 'Mike'}

In [99]:
set_copy = my_set.copy()

In [100]:
set_copy

{'Andrew', 'David', 'Derrick', 'John', 'Mike'}

In [101]:
my_set

{'Andrew', 'David', 'Derrick', 'John', 'Mike'}

In [102]:
my_set.remove('Derrick')

In [103]:
my_set

{'Andrew', 'David', 'John', 'Mike'}

In [104]:
set_copy

{'Andrew', 'David', 'Derrick', 'John', 'Mike'}

In [105]:
my_set.clear()

In [106]:
my_set

set()

In [107]:
set_copy

{'Andrew', 'David', 'Derrick', 'John', 'Mike'}

# Comparison - Truth & False (Boolean Type)

In [108]:
is_true = True

In [109]:
is_true

True

In [110]:
type(is_true)

bool

In [111]:
is_false = False

In [112]:
type(is_false)

bool

In [113]:
1 == 1

True

In [114]:
1 = 1

SyntaxError: can't assign to literal (<ipython-input-114-ecdac3dcabfd>, line 1)

In [115]:
1 == 4

False

In [116]:
1 > 2

False

In [117]:
1 < 2

True

In [119]:
1 >= 2

False

In [120]:
1 <= 2

True