# Python for Data Science Project Exercise

![Namespace Labs](../../labs.png)

# Arithmetic Operations

In [30]:
# Perform Integer division between 9 and 4

2

# Data Types

## Lists

In [32]:
movies = ['One','Two','Three','Four','Five','Six']

In [33]:
#Print Three only

'Three'

In [34]:
# Print all the movies from Two to Four

['Two', 'Three', 'Four']

In [35]:
# Print all the movies from Three to the end

['Three', 'Four', 'Five', 'Six']

In [36]:
# Display all the movies

['One', 'Two', 'Three', 'Four', 'Five', 'Six']

In [37]:
# Display Three and Four only

['Three', 'Four']

In [38]:
# Replace Three and Four with Nine and Ten

In [39]:
# Display all the movies

['One', 'Two', 'Nine', 'Ten', 'Five', 'Six']

In [40]:
# Print all the movies in the movie list

One
Two
Nine
Ten
Five
Six

In [41]:
# Add movie Eleven at the end of the list

['One', 'Two', 'Nine', 'Ten', 'Five', 'Six', 'Eleven']

In [42]:
# Remove Movie Two

['One', 'Nine', 'Ten', 'Five', 'Six', 'Eleven']

In [43]:
#Print the last movie in the list without using indexing

'Eleven'

In [44]:
# Print the length of the movies list

5

In [45]:
movies

['One', 'Nine', 'Ten', 'Five', 'Six']

In [46]:
# check if "Nine" is in the movies list and print the movie
#if it's in the list otherwise
# Print movie not found. Do this in a function

In [47]:
check_movie('Nine')

Nine found

In [48]:
check_movie('Some Movie')

Some Movie not found

In [49]:
# Display the movies

['One', 'Nine', 'Ten', 'Five', 'Six']

In [50]:
#compare the name of Nine with nine

False

In [53]:
# Delete the second movie completely
del movies[1]

In [54]:
movies

['One', 'Ten', 'Five', 'Six']

In [55]:
# Delete the movies list
del movies

In [68]:
# Display the movies
movies

NameError: name 'movies' is not defined

In [56]:
# Use a dictionary to add two or more actors to every movie

{'One': ['Actor 1', 'Actor 2'],
 'Two': ['Actor 3', 'Actor 4'],
 'Nine': ['Actor 5', 'Actor 6'],
 'Ten': ['Actor 7', 'Actor 8'],
 'Five': ['Actor 9', 'Actor 10']}

In [57]:
# Replace Actor 1 with Actor 11

['Actor 11', 'Actor 2']

'Actor 11'

{'One': ['Actor 11', 'Actor 2'],
 'Two': ['Actor 3', 'Actor 4'],
 'Nine': ['Actor 5', 'Actor 6'],
 'Ten': ['Actor 7', 'Actor 8'],
 'Five': ['Actor 9', 'Actor 10']}

In [61]:
#print the actors for movie One

Actor 11
Actor 2

In [62]:
# Print all the actors

Actor 11
Actor 2
Actor 3
Actor 4
Actor 5
Actor 6
Actor 7
Actor 8
Actor 9
Actor 10

In [63]:
# Print all the movies

One
Two
Nine
Ten
Five

In [64]:
# Clear the entire movie with actors dictionary

{}

In [65]:
# Create a tuple of the movies

('One', 'Two', 'Three', 'Four', 'Five')

In [66]:
# Print the second movie in the tuple

'Two'

In [67]:
# Replace the second movie with 'Nine'

TypeError: 'tuple' object does not support item assignment

In [69]:
# Create a set with the movies

{'Five', 'Four', 'One', 'Three', 'Two'}

In [70]:
# Display the second movie in the set

TypeError: 'set' object is not subscriptable

In [71]:
# Add Ten to the set

{'Five', 'Four', 'One', 'Ten', 'Three', 'Two'}

Happy Coding!